/*  Contact   */
.contact-container {
    text-align: center;
    padding: 30px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: #dec69b; 
}

.contact-container h1,
.contant-container p
{
    color: rgb(0, 0, 0);
}

.team-members {
    display: flex;
    align-items: center; /* Centrerar horisontellt */
    gap: 30px;
    margin-top: 40px;
    color: black;
}

.team-member img {
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.team-member h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}

.team-member .title {
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}
