/* FAQ och Biljettvillkor */
body
{
    background-color: #dec69b;
}


.faq-container {
    display: flex;
    flex-wrap: wrap; /* Säkerställer att det bryts på mindre skärmar */
    justify-content: space-between; /* Sprider ut sektionerna jämnt */
    gap: 20px; /* Mellanrum mellan sektionerna */
    max-width: 1200px; /* Begränsar bredden */
    margin: 40px auto;
}

.faq-container section {
    flex: 1; 
    min-width: 300px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #000000; /* Ljusare text för kontrast */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

section p {
    font-size: 16px;
    line-height: 1.8;
    color: #000000; /* Ljusare text för kontrast mot bakgrunden */
    margin-bottom: 15px;
}

section p strong {
    color: #000000; /* Accentfärg från knappar */
    font-weight: bold;
}

/* Anpassningar för FAQ och biljettvillkor rubriknivåer */
section h3 {
    font-size: 20px;
    color: #000000;
    margin-top: 5px;
    text-transform: capitalize;
}