
.about
{
    padding: 20px;
    margin: 0px;
    background-color: rgba(161, 146, 101, 0.512);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 55vh;
}

.abox
{
    background-color: rgba(161, 146, 101, 0.512);
}

.about h2 
{
    text-align: center;
}

.about p
{
    text-align: left;
}