body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    min-height: 100vh; 
    background: linear-gradient(135deg, #131313, #131313);
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4), 0 4px 30px rgba(0, 0, 0, 0.3); 
    padding: 20px;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

.logo-mmv {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px; 
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.482), 0 4px 8px rgba(0, 0, 0, 0.7);
}

.btn-b, .btn-inrock {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: rgb(243, 237, 237);
    background-color: #181716;
    border: rgba(0, 0, 0, 0.358) 0.3px solid;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease, background 0.3s ease;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(1, 1, 1, 0.15);
    margin-top: 10px; 
    margin-bottom: 10px; 
}

/* Hover-effekter för knappar */
.btn-b:hover, .btn-inrock:hover {
    background-color: #211f1f;
    transform: scale(1.1);
}

.text-line {
    display: flex;
    align-items: center;
    text-align: center;
}

.text-line::before,
.text-line::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid rgb(210, 210, 210);
    margin: 0 10px;
}

/* Footer style */
footer {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    color: white;
}

/* Social links container */
.social-links {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 10px;
}

/* Styling for social icon links */
.social-icon {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: transform 0.3s ease;
    
}

/* Hover effect for icons */
.social-icon:hover {
    transform: scale(1.2);
}

/* Styling the text below the icons */
.social-icon span {
    font-size: 0.8rem;
    text-align: center;
    color: #ddd; /* Ljusare färg för texten */
}

/* Hover effect for text */
.social-icon:hover span {
    color: #fff; /* Ändra textfärg till vit vid hover */
}
